* {
  padding: 0;
  margin: 0;
}

/* All Body */
body {
  font-family: "Helvetica", sans-serif;
}
.tron-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}
.sub-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.in-content {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.in-contentBold {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
.btn {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background-color: #5cb85f;
}

/* Navbar Section */
.nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: black;
}
.offcanvas {
  width: 50% !important;
}

/* Header Section */
#header {
  background-color: #f1f3ff;
}

/* Our Service Section */
#our-service {
  margin: 10% auto;
}

/* Why Us Section */
#why-us {
  margin: 10%;
}
.card-img-top {
  width: 32px;
  height: 32px;
  margin-top: 20px;
  margin-left: 20px;
}
.card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

/* Testimonial Section */
#testimonial {
  margin-top: 10%;
}
.item {
  background-color: #f1f3ff;
  height: 270px;
  border-radius: 8px;
}
.image-testi {
  height: 80px;
}
.image-rate {
  height: 16px;
}

/* Jumbotron Section */
#jumbotron-buttom {
  margin: 10% 3%;
}
.jumbotron-2 {
  width: 1168px;
  background-color: #0d28a6;
  border-radius: 13px;
  text-align: center;
  color: #ffffff;
}

/* Footer Section */
#footer {
  margin-top: 10%;
}
.footer-link:link,
.footer-link:visited,
.footer-link:active {
  color: black;
  text-decoration: none;
}
.footer-link:hover {
  color: #0d28a6;
}

/* For Desktop Display */
@media screen and (min-width: 992px) {
  /* Header Section */
  .jumbotron-header {
    padding-top: 100px;
    margin-left: 8%;
  }
  .tron-lead {
    margin-right: 20%;
  }

  /* Why us Section */
  #why-us {
    margin: 10%;
    margin-left: 150px;
  }

  /* Jumbotron section */

  .jumbotron-content {
    margin: auto 30%;
  }

  /* Faq Section */
  #faq {
    margin: 10%;
    margin-left: 150px;
  }

  /* FOOTER SECTION */
  #footer {
    margin: 10%;
    margin-left: 150px;
  }
}

/* For mobile diplay max 600px */
@media (max-width: 600px) {
  body {
    padding-left: 15px;
    padding-right: 15px;
  }
  #why-us .sub-title {
    text-align: center;
  }
  #why-us .content-why-us {
    text-align: center;
  }

  #faq .sub-title {
    text-align: center;
  }
  #faq .in-content {
    text-align: center;
  }
}
